.background {
    background-image: url('C:\Users\david\Documents\Panasonic\frontend\src\images\fondoHomev2.jpg');
    background-size: cover; /* Esto ajusta la imagen para que cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    height: 100vh; /* Ajusta la altura para que ocupe toda la pantalla */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  